<hr />
<div id="div_id_source" class="form-group">
    <div class="controls "><input class="textinput textInput form-control" id="id_source" maxlength="200"
                                  name="source" type="text"></div>
</div>
<div id="div_id_mean" class="form-group">

    <div class="controls "><input class="textinput textInput form-control" id="id_mean" maxlength="200" name="mean"
                                  type="text"></div>
</div>
<div id="div_id_kanji" class="form-group">

    <div class="controls "><input class="textinput textInput form-control" id="id_kanji" maxlength="200"
                                  name="kanji" type="text"></div>
</div>
<div id="div_id_romaji" class="form-group">

    <div class="controls "><input class="textinput textInput form-control" id="id_romaji" maxlength="200"
                                  name="romaji" type="text"></div>
</div>
<div id="div_id_type" class="form-group">
    <div class="controls "><select class="select form-control" id="id_type" name="type">
        <option value="True" selected="selected">Hiragana</option>
        <option value="False">Katakana</option>
    </select></div>
</div>