{% extends 'base.html' %} {% block title %}Test cases list{% endblock %}
{% block static %}
<style>
.test-word-rows{
font-size: 25px;
}
</style>
{% endblock %}
{% block content %}
<div class="row">
	<div class="col-md-12">
		<h3 class="form-title text-center" style="padding: 20px;">Test
			Session list</h3>
	</div>
</div>
<div class="row">
	<div class="col-lg-offset-2 col-lg-8">
	{% for ts in object_list %}
		<div class="row test-word-rows">
			<div class="col-lg-5">
				<a href="{% url 'test-word-session-result' ts.id %}"><strong>{{ts.test_word.title}}</strong></a>
			</div>
			<div class="col-lg-6">
				{% if ts.completed_time %}{{ts.completed_time}}{% endif %}
			</div>
		</div>
	{%	empty %}
		No Test Session yet.</li>
	{% endfor %}
	</div>
</div>
{% endblock %}
